In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os
import pickle
from datetime import datetime

%matplotlib inline

In [2]:
df = pd.read_csv("waterQuality1.csv")
df.head().T

                 0      1      2      3      4
aluminium     1.65   2.32   1.01   1.36   0.92
ammonia       9.08  21.16  14.02  11.33  24.33
arsenic       0.04   0.01   0.04   0.04   0.03
barium        2.85   3.31   0.58   2.96    0.2
cadmium      0.007  0.002  0.008  0.001  0.006
chloramine    0.35   5.28   4.24   7.23   2.67
chromium      0.83   0.68   0.53   0.03   0.69
copper        0.17   0.66   0.02   1.66   0.57
flouride      0.05    0.9   0.99   1.08   0.61
bacteria       0.2   0.65   0.05   0.71   0.13
viruses        0.0   0.65  0.003   0.71  0.001
lead         0.054    0.1  0.078  0.016  0.117
nitrates     16.08   2.01  14.16   1.41   6.74
nitrites      1.13   1.93   1.11   1.29   1.11
mercury      0.007  0.003  0.006  0.004  0.003
perchlorate  37.75  32.26  50.28   9.12   16.9
radium        6.78   3.21   7.07   1.72   2.41
selenium      0.08   0.08   0.07   0.02   0.02
silver        0.34   0.27   0.44   0.45   0.06
uranium       0.02   0.05   0.01   0.05   0.02
is_safe          1      1      0      1      1

In [3]:
df.describe()

,aluminium,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,viruses,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium
count,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000,7999.000000
mean,0.666158,0.161445,1.567715,0.042806,2.176831,0.247226,0.805857,0.771565,0.319665,0.328583,0.099450,9.818822,1.329961,0.005194,16.460299,2.920548,0.049685,0.147781,0.044673
std,1.265145,0.252590,1.216091,0.036049,2.567027,0.270640,0.653539,0.435373,0.329485,0.378096,0.058172,5.541331,0.573219,0.002967,17.687474,2.323009,0.028770,0.143551,0.026904
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.040000,0.030000,0.560000,0.008000,0.100000,0.050000,0.090000,0.405000,0.000000,0.002000,0.048000,5.000000,1.000000,0.003000,2.170000,0.820000,0.020000,0.040000,0.020000
50%,0.070000,0.050000,1.190000,0.040000,0.530000,0.090000,0.750000,0.770000,0.220000,0.008000,0.102000,9.930000,1.420000,0.005000,7.740000,2.410000,0.050000,0.080000,0.050000
75%,0.280000,0.100000,2.480000,0.070000,4.240000,0.440000,1.390000,1.160000,0.610000,0.700000,0.151000,14.610000,1.760000,0.008000,29.480000,4.670000,0.070000,0.240000,0.070000
max,5.050000,1.050000,4.940000,0.130000,8.680000,0.900000,2.000000,1.500000,1.000000,1.000000,0.200000,19.830000,2.930000,0.010000,60.010000,7.990000,0.100000,0.500000,0.090000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7999 entries, 0 to 7998
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   aluminium    7999 non-null   float64
 1   ammonia      7999 non-null   object
 2   arsenic      7999 non-null   float64
 3   barium       7999 non-null   float64
 4   cadmium      7999 non-null   float64
 5   chloramine   7999 non-null   float64
 6   chromium     7999 non-null   float64
 7   copper       7999 non-null   float64
 8   flouride     7999 non-null   float64
 9   bacteria     7999 non-null   float64
 10  viruses      7999 non-null   float64
 11  lead         7999 non-null   float64
 12  nitrates     7999 non-null   float64
 13  nitrites     7999 non-null   float64
 14  mercury      7999 non-null   float64
 15  perchlorate  7999 non-null   float64
 16  radium       7999 non-null   float64
 17  selenium     7999 non-null   float64
 18  silver       7999 non-null   float64
 19  uranium      7999 non-null   float64
 20  is_safe      7999 non-null   object
dtypes: float64(19), object(2)
memory usage: 1.3+ MB

In [5]:
def work_amm(val):
    if(val != "#NUM!"):
        return float(val)
    else:
        return np.nan

def work_issafe(val):
    if(val != "#NUM!"):
        return float(val)
    else:
        return np.nan
    
df.ammonia = df.ammonia.apply(work_amm)
df.is_safe = df.is_safe.apply(work_issafe)

In [6]:
df.dropna(inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7996 entries, 0 to 7998
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   aluminium    7996 non-null   float64
 1   ammonia      7996 non-null   float64
 2   arsenic      7996 non-null   float64
 3   barium       7996 non-null   float64
 4   cadmium      7996 non-null   float64
 5   chloramine   7996 non-null   float64
 6   chromium     7996 non-null   float64
 7   copper       7996 non-null   float64
 8   flouride     7996 non-null   float64
 9   bacteria     7996 non-null   float64
 10  viruses      7996 non-null   float64
 11  lead         7996 non-null   float64
 12  nitrates     7996 non-null   float64
 13  nitrites     7996 non-null   float64
 14  mercury      7996 non-null   float64
 15  perchlorate  7996 non-null   float64
 16  radium       7996 non-null   float64
 17  selenium     7996 non-null   float64
 18  silver       7996 non-null   float64
 19  uranium      7996 non-null   float64
 20  is_safe      7996 non-null   float64
dtypes: float64(21)
memory usage: 1.3 MB

In [8]:
X = df.drop('is_safe',1)
y = df['is_safe']

features = X.columns

## Since our dataset in clean, working with the classification model now

In [9]:
from sklearn.feature_selection import SelectKBest, f_classif, chi2

In [10]:
fs = SelectKBest(score_func=f_classif, k=8)

In [11]:
z = fs.fit_transform(X, y)

In [12]:
supported_features = fs.get_support()

In [13]:
selected_features = features[supported_features]

## Here are the selected features from the pool of 20 features.

In [14]:
selected_features

Index(['aluminium', 'arsenic', 'barium', 'cadmium', 'chloramine', 'chromium',
       'viruses', 'silver'],
      dtype='object')

In [15]:
X = X[selected_features]

In [27]:
# importing the models to be used for training.

from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

In [17]:
# will be defining a class for ensemble learning of all the classification models.

from statistics import mode

class my_classifier():
    def __init__(self, classifiers):
        self._classifiers = classifiers

    def classify(self, input_params):
        votes = []
        for c in self._classifiers:
            v = c.predict(input_params.reshape(1,-1))[0]
            # print(str(c)[:-2], "predicted", v)
            votes.append(v)
        return mode(votes)

    def confidence(self, input_params):
        votes = []
        for c in self._classifiers:
            v = c.predict(input_params.reshape(1,-1))[0]
            votes.append(v)

        choice_votes = votes.count(mode(votes))
        conf = choice_votes / len(votes)
        return conf

In [18]:
# splitting the data for training and testing.

from sklearn.model_selection import train_test_split
X_test, X_train, y_test, y_train = train_test_split(X, y, train_size=0.3, random_state=100)

In [19]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(5598, 8) (2398, 8) (5598,) (2398,)

In [28]:
models = []

for model in [LogisticRegression(), SGDClassifier(), RandomForestClassifier(), SVC(), KNeighborsClassifier(), GaussianNB(), ExtraTreesClassifier()]:
    model_obj = model

    begin_time = datetime.now()
    model_obj.fit(X_train, y_train)
    end_time = datetime.now()
    train_time = end_time-begin_time

    test_time_begin = datetime.now()
    acc = model_obj.score(X_test, y_test)
    test_time_end = datetime.now()
    test_time = test_time_end-test_time_begin

    models.append(
        [
            model_obj, str(train_time.seconds) + '.' + str(train_time.microseconds), str(test_time.seconds) + '.' + str(test_time.microseconds), acc
        ]
    )
    save_model = open(os.path.join(os.getcwd(), "pickled models/" + str(model)[:-2] + "_model.pickle"),"wb")
    pickle.dump(model_obj, save_model)
    save_model.close()

In [29]:
for model in models:
    print(model)

[LogisticRegression(), '0.98001', '0.4054', 0.8886572143452878]
[SGDClassifier(), '0.18020', '0.2000', 0.8932443703085905]
[RandomForestClassifier(), '0.435585', '0.36992', 0.9065888240200167]
[SVC(), '0.336967', '0.352024', 0.8890742285237698]
[KNeighborsClassifier(), '0.25002', '0.168276', 0.890325271059216]
[GaussianNB(), '0.4002', '0.8017', 0.8640533778148457]
[ExtraTreesClassifier(), '0.460877', '0.44060', 0.9007506255212677]

In [30]:
# sorting the models in the list according to their accuracies.
models.sort(key = lambda x : x[-1], reverse=True)

In [31]:
print("Model name\t\t\tTraining time\tTesting time\tAccuracy","="*80, sep='\n')

s = [[str(e) for e in row] for row in models]
lens = [max(map(len, col)) for col in zip(*s)]
fmt = '\t'.join('{{:{}}}'.format(x) for x in lens)
table = [fmt.format(*row) for row in s]
print('\n'.join(table))

Model name			Training time	Testing time	Accuracy
================================================================================
RandomForestClassifier()	0.435585	0.36992 	0.9065888240200167
ExtraTreesClassifier()  	0.460877	0.44060 	0.9007506255212677
SGDClassifier()         	0.18020 	0.2000  	0.8932443703085905
KNeighborsClassifier()  	0.25002 	0.168276	0.890325271059216
SVC()                   	0.336967	0.352024	0.8890742285237698
LogisticRegression()    	0.98001 	0.4054  	0.8886572143452878
GaussianNB()            	0.4002  	0.8017  	0.8640533778148457

## Testing what is built till now.

In [32]:
classifier = my_classifier([model[0] for model in models])

In [33]:
sample_input = np.array([1.65, 0.04, 2.85, 0.007, 0.35, 0.83, 0.000, 0.34])

In [34]:
classifier._classifiers

[RandomForestClassifier(),
 ExtraTreesClassifier(),
 SGDClassifier(),
 KNeighborsClassifier(),
 SVC(),
 LogisticRegression(),
 GaussianNB()]

In [35]:
print("Classification:", classifier.classify(sample_input))
print("Confidence:", classifier.confidence(sample_input))

Classification: 1.0
Confidence: 0.5714285714285714